input, textarea{
	display: inline-block;
	min-width: 100%;

	padding: 0.7rem;
	outline: none;
	border: 1px solid #ccc;
	font-size: 17px;
	margin-bottom: 1rem;
}
label {
	display: block;
}

.alert, .confirm {
	padding: .5rem;
	background-color: var(--color-red);
	color: var(--color-white);
	margin-bottom: 1rem;
}
.confirm {
	background-color: var(--color-green);
}
.contact {
	padding: 5rem 0;
}

.contact button {
	border: 1px solid var(--color-green);
	padding: .5rem;
	background-color: transparent;
	cursor: pointer;
}


.socials ul{
	display: flex;
	flex-wrap: wrap;
}
.contact .socials ul li a{
	padding: .5rem 1rem;
}
@media screen and (min-width: 769px)  {
	.socials ul {
		display: flex;
		justify-content: flex-start;
	}

	.socials a {
		padding: 0 2rem;
	}
	.socials li:first-child a {
		padding-left: 0;
	}
}