.introduction {
	padding: 0.5rem 1rem;
}

.introduction .message {
	font-size: 12px;
	display: none;
}

.navigation {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: #e6eaec;
	border-radius: 15px;
}

.navigation a {
	padding: 0rem 1rem;
	/*text-transform: uppercase;*/
	font-size: .97rem;
	color: #222
}

ul, li{
	margin:0;
	padding:0;
	list-style-type: none;
}
.active {
	display: block;
	background-color: #fff;
	/*padding: 0.4rem 0.7rem!important;*/
}