.scientists {
	background-color: #ededed;
	padding: 2rem 0;
}
.scientists .container{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: nowrap;
	overflow-x: auto;
	flex-direction: row;
}



@media screen and (min-width: 769px)  {
	
}